<div class="box profile-page-box">
<!-- Profile Page -->
<h1>Profile Page</h1>
<!-- Email -->
<p>Email : <%= @current_user.email %></p>
<!-- Name of the User -->
<p>Name : <%= @current_user.name %></p>
<!-- Discord Roles Switching -->
<!-- Delete Account Option-->
<%= form_for :delete_user, Routes.user_path(@conn, :delete_user_profile), fn f -> %>
<%= submit "Delete User Account", class: "btn-danger" %>
<%= end %>
</div>