Create a new Project

<div class="list-select-projects">
  <%= for repo <- @repos do %>
    <div class="project-selection-individual">
      <div class="project-selection-individual__name"><%= repo["full_name"] %></div>
      <div class="project-selection-individual__stars"><%= repo["stargazers_count"] %> <i class="fa fa-star"></i></div>
      <div class="project-selection-individual__description"><%= repo["description"] %></div>
    </div>
  <% end %>
</div>