<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= @view_module.title(@view_template, assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TZLGR6P');</script>
    <!-- End Google Tag Manager -->
    <script src="https://kit.fontawesome.com/a0b4631295.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZLGR6P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
      <%= if @current_user do %>
        <a href="/home" class="logo"><img class="logo" src="<%= Routes.static_path(@conn, "/images/hyperlog.png") %>" alt="Logo"/></a>
        <nav>
          <ul class="nav__links">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/profile">Profile</a></li>
            <li>
              <%= link "Logout", to: Routes.logout_path(@conn, :delete), class: "logout-link", method: :delete %>
            </li>
          </ul>
        </nav>
      <% else %>
        <a href="/" class="logo"><img class="logo" src="<%= Routes.static_path(@conn, "/images/hyperlog.png") %>" alt="Logo"/></a>
        <nav>
          <ul class="nav__links">
            <li><a href="#">How?</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <a class="cta" href="<%= Routes.login_path(@conn, :new) %>"><button class="github-button"><i class="fa fa-user-plus fa-lg"></i> Login</button></a>
      <% end %>
    </header>
    <main role="main" class="container">
      <%= if get_flash(@conn, :info) do %>
        <div class="flash">
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="flash flash-error">
          <%= get_flash(@conn, :error) %>
        </div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
