<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hyperlog · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="https://kit.fontawesome.com/a0b4631295.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <%= if @current_user do %>
        <a href="/home" class="logo"><img class="logo" src="<%= Routes.static_path(@conn, "/images/hyperlog.png") %>" alt="Logo"/></a>
        <nav>
          <ul class="nav__links">
            <li><a href="<%= "/u/#{@current_user.username}" %>">Profile</li>
            <li><a href="/courses">Courses</a></li>
            <li>
              <%= link "Logout", to: Routes.pow_session_path(@conn, :delete), class: "logout-link", method: :delete %>
            </li>
          </ul>
        </nav>
      <% else %>
        <a href="/" class="logo"><img class="logo" src="<%= Routes.static_path(@conn, "/images/hyperlog.png") %>" alt="Logo"/></a>
        <nav>
          <ul class="nav__links">
            <li><a href="#">How?</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
        <a class="cta" href="<%= Routes.pow_registration_path(@conn, :new) %>"><button class="github-button"><i class="fa fa-user-plus fa-lg"></i> Register now</button></a>
      <% end %>
    </header>
    <main role="main" class="container">
      <%= if get_flash(@conn, :info) do %>
        <div class="flash">
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="flash flash-error">
          <%= get_flash(@conn, :error) %>
        </div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
